body {
    font-family: Arial, sans-serif;
    background-color: #00e1fd;
    margin: 0;
    padding: 0;
  }
  body {
    background-image: url("paper.gif");
  }
  .container {
    max-width: 500px;
    margin: 20px auto;
    background-color: #eb07ae;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;

  }
  
  form {
    display: flex;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4cef4c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 4px;
    display: flex;
    align-items: center;
  }
  
  li input[type="checkbox"] {
    margin-right: 10px;
  }
  
  li.completed {
    background-color: #e0e0e0;
    text-decoration: line-through;
    opacity: 0.7;
  }
  
